@model IEnumerable<tres.Models.Transaccion>

@{
    ViewData["Title"] = "Transaccion";
}

<h1>Transaccion</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Cuenta Destino
            </th>
            <th>
                Cuenta Origen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaDestinoNavigation.Idcuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaOrigenNavigation.Idcuenta)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Idtransaccion">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Idtransaccion">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Idtransaccion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
